body {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0;
    background-color: black;
}

.netflix {
    width: 600px;
    height: 400px;
  align-items: center;
}
.message-container {
  color: white;
}

#start-button {
    padding: 32px 64px;
    font-size: 32px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e10b17; 
    transition: background-color 0.3s;
}
