body {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, sans-serif;
}

header {
    background-color: #d01616;
    padding: 20px;
    text-align: center;
}
.btn-voltar {
    background-color: #d01616;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    float: left;
    margin-right: 20px;
    line-height: 40px;
    position: absolute;
    top: 27px;
    left: 18px;
    z-index: 10;
    display: inline;
}

.btn-voltar:hover {
    background-color: #700505;
}

header h1 {
    font-size: 36px;
    color: #ffffff; 

section {
    background-color:#d01616;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

section h2 {
    color: #d01616;
}

footer {
    background-color: #d01616;
    padding: 20px;
    text-align: center;
}

a {
    color: #ffffff; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
    color: #ffffff; 
}
  footer {
      bottom: 0;
      width: 100%;
      background-color: #ffffff;
      color: #d01616;
      padding: 10px;
  }