        body {
            font-family: Arial, sans-serif;
            background-color: #000000;
            text-align: center;
            margin: 0;
            padding: 0;
            background-image: url("../imagem/fundo.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
        }

        h1 {
            background-color: rgba(139,0,0,0.5);
            color: #fff;
            padding: 20px 0;
        }

        form {
            margin: 20px;
        }

        select, button {
            padding: 10px;
            font-size: 16px;
        }

        select {
            width: 100%;
            margin-bottom: 10px;
        }

        button {
            background-color: #b91313;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #cd2d2d;
        }

footer {
    bottom: 0;
    width: 100%;
    background-color: rgba(139, 0, 0, 0.5);
    color: #fff;
    padding: 10px 0;
    font-size: 30px;
    z-index: 1;
}


        strong {
            font-weight: bold;
        }

        img {
            max-width: 100%;
            height: auto;
            margin-top: 10px;
        }

        p {
            color: #d01616;
        }

        .conhecer {
            color: #fff;
        }
        .resposta {
          color: white;
        }
        