body {
    background-color: #f5f5f5; 
    color: #333;
    font-family: Arial, sans-serif;
}

header {
    background-color: #fff; 
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    color: #333; 

section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #333;
}

section h2 {
    color: #333; 
}

footer {
    background-color: #fff; 
    padding: 20px;
    text-align: center;
}

a {
    color: #3498db; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
    color: #1f6ac0; 
