/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

form {
    margin: 20px;
}

select, button {
    padding: 10px;
    font-size: 16px;
}

select {
    width: 100%;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* Estilos para as séries recomendadas */
strong {
    font-weight: bold;
}

/* Estilos para as imagens das séries */
img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

/* Estilos para a mensagem de seleção de gênero */
p {
    color: #FF0000;
}
